/* .banner__container {
  position: relative;
  height: 230px;
  width: 100%;
} */

.banner {
  /* position: relative; */
  position: sticky;
  height: 240px;
  width: 100%;
  
  top: -115px;
}

.top__section {
  position: relative;
  display: flex;
  background: rgba(101, 148, 80, .66);
  /* background: rgb(101, 148, 80); */
  height: 185px;
  justify-content: center;
  /* overflow: hidden; */
  z-index: 3;
  width: 100%;
}

.banner__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(241, 233, 220);
  z-index: -2;
}

.home__banner__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top left;
  opacity: .22;
}

.projects__banner__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0px -80px;
  opacity: .22;
}

.banner__title {
  font-size: 24px;
  /* display: flex; */
  align-items: center;
  position: absolute;
  top: 50%;
  z-index: 4;
}

.banner__accent {
  display: flex;
  width: 100%;
  height: 5px;
  /* background-color: rgb(255, 252, 243); */
  background-color: rgb(241, 233, 220);
  box-shadow: 2px 2px 12px black;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

.banner__menu {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(60, 88, 47);
  box-shadow: -2px 4px 18px black;
  z-index: 1;
}


.home__button {
  position: absolute;
  left: 85%;
}

.projects__button {
  position: absolute;
  left: 90%;
}

.banner__button {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 24px;
  height: 50px;
  width: 25px;
  /* background-color: rgb(60, 88, 47); */
  transition: background-color 0.15s;
  /* border: 1px solid red; */
}

.banner__button:hover {
  background-color: rgb(71, 103, 57);
}



/* .banner-container {
  position: relative;
  width: 100%;
  height: 170px;
  overflow: hidden;
  text-align: center;
  background: rgba(101, 148, 80, .66);
}

.banner-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: left;
  opacity: .22;
}

.banner-title {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.banner-accent {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: rgb(255, 252, 243);
  box-shadow: 0px 8px 12px black;
  z-index: 3;
}

.menu-container {
  position: relative;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}

.banner-menu {
  position: relative;
  width: 100%;
  height: 55px;
  background-color: rgb(60, 88, 47);
  box-shadow: -2px 6px 28px black;
} */

/* .home-button {
  position: relative;
  height: 35px;
  width: 120px;
  left: 50%;
  top: 30%;
  margin-left: -2px;
}

.projects-button {
  position: relative;
  height: 35px;
  width: 120px;
  left: 80%;
  top: 30%;
  margin-left: -2px;
} */